<div id="<%= dom_id pending_post %>">
  <p>
    <strong>Score:</strong>
    <%= pending_post.score %>
  </p>

  <p>
    <strong>Img:</strong>
    <%= pending_post.img %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pending_post.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pending_post.description %>
  </p>

</div>
