<div id="<%= dom_id pending %>">
  <p>
    <strong>Imgurl:</strong>
    <%= pending.imgUrl %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= pending.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= pending.category %>
  </p>

  <p>
    <strong>Promotiondate:</strong>
    <%= pending.promotionDate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pending.description %>
  </p>

</div>
