<p style="color: green"><%= notice %></p>

<%= render @pending %>

<div>
  <%= link_to "Edit this pending", edit_pending_path(@pending) %> |
  <%= link_to "Back to pendings", pendings_path %>

  <%= button_to "Destroy this pending", @pending, method: :delete %>
</div>
